<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Administrador</title>
</head>

<body>

    <h1>Informacion del usuario</h1>

    <h2>General:</h2>
    <ul>
        {{#each visitas.general}}
        <li>
            <div>Nombre: {{url}}</div>
            <div>Visitas: {{visitas}}</div>
            <div>Fecha: {{fecha}}</div>
            <div>Hora: {{hora}}</div>
        </li>
        {{/each}}
    </ul>

    <br>
    <h2>Registro:</h2>
    <ul>
        {{#each visitas.registro}}
        <li>
            <div>Nombre: {{url}}</div>
            <div>Visitas: {{visitas}}</div>
            <div>Fecha: {{fecha}}</div>
            <div>Hora: {{hora}}</div>
        </li>
        {{/each}}
    </ul>


</body>

</html>